<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -DTD Organizer</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*<link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet' />*@

    <link href='~/Content/fullcalendar/packages/core/main.css' rel='stylesheet' />
    <link href='~/Content/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />
    <link href='~/Content/fullcalendar/packages/timegrid/main.css' rel='stylesheet' />
    @*<link href='~/Content/fullcalendar/packages/bootstrap/main.css' rel='stylesheet' />*@

    <script src='~/Content/fullcalendar/packages/core/main.js'></script>
    <script src='~/Content/fullcalendar/packages/daygrid/main.js'></script>
    <script src='~/Content/fullcalendar/packages/interaction/main.js'></script>
    <script src='~/Content/fullcalendar/packages/timegrid/main.js'></script>
    @*<script src='~/Content/fullcalendar/packages/bootstrap/main.js'></script>*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("DTD Organizer", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Calendar", "Index", "Calendar")</li>
                    <li>@Html.ActionLink("Resources", "Index", "Resources")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DTD Organizer</p>
        </footer>
    </div>

</body>
</html>
