<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DTD Organizer</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://unpkg.com/popper.js"></script>
    <script src="https://unpkg.com/tooltip.js"></script>

    <link href='~/Content/fullcalendar/packages/core/main.css' rel='stylesheet' />
    <link href='~/Content/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />
    <link href='~/Content/fullcalendar/packages/timegrid/main.css' rel='stylesheet' />
    <link href='~/Content/fullcalendar/packages/list/main.css' rel='stylesheet' />

    <script src='~/Content/fullcalendar/packages/core/main.js'></script>
    <script src='~/Content/fullcalendar/packages/daygrid/main.js'></script>
    <script src='~/Content/fullcalendar/packages/interaction/main.js'></script>
    <script src='~/Content/fullcalendar/packages/timegrid/main.js'></script>
    <script src='~/Content/fullcalendar/packages/list/main.js'></script>

    <style>
        .rounded {
            border-radius: .65rem !important;
        }

        .books, .courses, .otherdocs {
            display: none;
        }
    </style>
    <script>
        window.addEventListener("load", function () {
            showBooks();
        });

        function showBooks() {
            $(".books").show();
            $(".courses").hide();
            $(".otherdocs").hide();
            $('.blib').css('font-size', '15px');
            $('.bcourse').css('font-size', '0.8rem');
            $('.odocs').css('font-size', '0.8rem');
        }

        function showCourses() {
            $(".books").hide();
            $(".otherdocs").hide();
            $(".courses").show();

            $('.bcourse').css('font-size', '15px');
            $('.blib').css('font-size', '0.8rem');
            $('.odocs').css('font-size', '0.8rem');

        }
        function showOther() {
            $(".books").hide();
            $(".courses").hide();
            $(".otherdocs").show();

            $('.odocs').css('font-size', '15px');
            $('.blib').css('font-size', '0.8rem');
            $('.bcourse').css('font-size', '0.8rem');
        }
        function rent() {
            alert("Книгата која ја изнајмувате ");
        }

    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        @Html.ActionLink("DTD Organizer", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
       
        <div id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    @Html.ActionLink("Calendar", "Index", "Calendar")
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Resources", "Index", "Resources")
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Library", "Index", "Library")
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Food", "Index", "Food")
                </li>
            </ul>
        </div>
    </nav>

    

    <div class="container body-content">
        @RenderBody()
    </div>

</body>
</html>
